@mixin dead-column {
  background-image: url(../assets/dead.png),
    radial-gradient(
      ellipse at center,
      #9b1f7a 0%,
      #6d155d 34%,
      #aa2071 64%,
      #301a27 100%
    );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: #9b1f7a;
}
.grid {
  background-color: #555;
  display: flex;
  flex-direction: column;
  height: 100%;
  transform: rotateX(1deg);
  -webkit-box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.26);

  .row {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #999;
    transition: opacity 0.5s ease-out;
    opacity: 1;

    .column {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      border: 1px solid #30cbf2;
      background-image: -webkit-radial-gradient(
        center,
        ellipse cover,
        #30cbf2 0%,
        #ffffff 34%,
        #30cbf2 64%,
        #ffffff 100%
      );
      transition: background-color 0.5s ease-out;

      &.selected {
        background-image: -webkit-radial-gradient(
          center,
          ellipse cover,
          #f2d530 0%,
          #ffffff 34%,
          #f2d530 64%,
          #ffffff 100%
        );

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 4px dashed #ffffff;
        }
      }

      &.dead {
        @include dead-column;
      }

      &.border-right::after {
        position: absolute;
        right: -2px;
        bottom: 0;
        content: ' ';
        display: block;
        width: 6px;
        height: 100%;
        background: linear-gradient(
          to bottom,
          yellow 10%,
          black 10%,
          black 20%,
          yellow 20%,
          yellow 30%,
          black 30%,
          black 40%,
          yellow 40%,
          yellow 50%,
          black 50%,
          black 60%,
          yellow 60%,
          yellow 70%,
          black 70%,
          black 80%,
          yellow 80%,
          yellow 90%,
          black 90%
        );
      }
      &.border-bottom::after {
        position: absolute;
        left: 0;
        bottom: -2px;
        content: ' ';
        display: block;
        width: 100%;
        height: 6px;
        background: linear-gradient(
          to right,
          yellow 10%,
          black 10%,
          black 20%,
          yellow 20%,
          yellow 30%,
          black 30%,
          black 40%,
          yellow 40%,
          yellow 50%,
          black 50%,
          black 60%,
          yellow 60%,
          yellow 70%,
          black 70%,
          black 80%,
          yellow 80%,
          yellow 90%,
          black 90%
        );
      }

      &.trap::before,
      &.trap::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: height 1s linear;
      }
      &.trap::before {
        top: 0;
      }
      &.trap::after {
        bottom: 0;
      }
      &.trap.close::before,
      &.trap.close::after {
        height: 50%;
        transition: height 0.5s linear;
      }
      &.trap.border-right::after,
      &.trap.border-bottom::after {
        background: none;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

.level-alt1 {
  .grid {
    .row {
      .column {
        border: 1px solid #f2a430;
        background-image: -webkit-radial-gradient(
          center,
          ellipse cover,
          #f2a430 0%,
          #ffffff 34%,
          #f2a430 64%,
          #ffffff 100%
        );

        &.selected {
          background-image: -webkit-radial-gradient(
            center,
            ellipse cover,
            #7672f3 0%,
            #ffffff 34%,
            #7672f3 64%,
            #ffffff 100%
          );
        }

        &.dead {
          @include dead-column;
        }
      }
    }
  }
}

.level-alt2 {
  .grid {
    .row {
      .column {
        border: 1px solid #4fec87;
        background-image: -webkit-radial-gradient(
          center,
          ellipse cover,
          #4fec87 0%,
          #ffffff 34%,
          #4fec87 64%,
          #ffffff 100%
        );

        &.selected {
          background-image: -webkit-radial-gradient(
            center,
            ellipse cover,
            #f372a5 0%,
            #ffffff 34%,
            #f372a5 64%,
            #ffffff 100%
          );
        }

        &.dead {
          @include dead-column;
        }
      }
    }
  }
}

.level-alt3 {
  .grid {
    .row {
      .column {
        background-image: linear-gradient(
          45deg,
          #134ea4,
          #dc4c4e,
          #e6bc24,
          #1a9765
        );
        border: 0.1em solid;
        border-color: #134ea4 #dc4c4e #e6bc24 #1a9765;

        &.selected {
          background-image: linear-gradient(
            0deg,
            #1a9765,
            #e6bc24,
            #dc4c4e,
            #134ea4
          );
        }

        &.dead {
          @include dead-column;
        }
      }
    }
  }
}
