.home {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  .main {
    .text {
      max-width: 60%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-transform: uppercase;
      color: $magenta;
      font-size: 5em;
      text-align: center;
      text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
        0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba($yellow, 0.8), 0 0 30px rgba($yellow, 0.8),
        0 0 40px rgba($yellow, 0.8), 0 0 50px rgba($yellow, 0.5),
        0 0 80px rgba($yellow, 0.5);
    }

    .content {
      height: 100%;
      overflow: hidden;
      background-color: $orange;
      margin: 0 auto;
      position: relative;
    }
    .borders {
      width: 150%;
      height: 150%;
      margin-top: -30%;
      overflow: hidden;
      background-color: $magenta;
      opacity: 0.3;
      transform: rotate(15deg);
      border-radius: 50%;
      box-shadow: -1px -1px 5px 0px rgba($magenta, 0.75),
        -7px -7px 5px 0px rgba(255, 255, 255, 0.75),
        -10px -10px 5px 0px rgba($magenta, 0.75),
        -16px -16px 5px 0px rgba(255, 255, 255, 0.75),
        -20px -20px 5px 0px rgba($magenta, 0.75),
        1px 1px 5px 0px rgba($magenta, 0.75),
        7px 7px 5px 0px rgba(255, 255, 255, 0.75),
        10px 10px 5px 0px rgba($magenta, 0.75),
        16px 16px 5px 0px rgba(255, 255, 255, 0.75),
        20px 20px 5px 0px rgba($magenta, 0.75);

      &::after {
        content: '';
        top: 0;
        transform: translateX(100%);
        width: 500px;
        height: 900px;
        position: absolute;
        z-index: 1;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.8) 50%,
          rgba($magenta, 0) 99%,
          rgba($magenta, 0) 100%
        );
      }
    } /* Shine */
  }
  &.pattern {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &::before {
      -webkit-backface-visibility: hidden;
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      top: -50%;
      left: -50%;
      z-index: -1;
      transform: rotate(30deg);
      background-color: $red;
      background-image: linear-gradient(
          45deg,
          $blue 25%,
          transparent 25%,
          transparent 75%,
          $blue 75%
        ),
        linear-gradient(
          45deg,
          $blue 25%,
          transparent 25%,
          transparent 75%,
          $blue 75%
        );
      background-size: 100px 100px;
      background-position: 0 0, 50px 50px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      top: -50%;
      left: -50%;
      z-index: -1;
      transform: rotate(30deg);
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    .text {
      margin: 0 auto;
      text-align: center;
      font-size: 5rem;
      line-height: 0.9;
      text-shadow: 0.125rem 0.125rem 0.75rem $red;
      color: $blue;
    }
    .info {
      width: 80%;
      margin: 0 auto;
      font-size: 2rem;
      line-height: 1.2;
      text-shadow: 0.125rem 0.125rem 0.75rem $red;
      color: $blue;

      .player-selector {
        display: inline-block;
        -webkit-appearance: none;
        appearance: none;
        vertical-align: middle;
        border: 1px solid #222;
        background: transparent;
        width: 50px;
        height: 80px;
        background-image: url(../assets/good_guy.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0.5;
        &.good-girl {
          background-image: url(../assets/good_girl.svg);
        }
        &.bad-guy {
          border: none;
          opacity: 1;
          background-image: url(../assets/bad_guy.svg);
        }
        &:checked {
          opacity: 1;
          border: 1px solid black;
        }
      }
    }
  }
}
