.player,
.enemy {
  /* image from http://duinzigt-itm.nl/lucasvanleeuwen/2017/11/15/game-karakter-ninja/ */
  position: absolute;
  /* background-image: url(../assets/man.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  flex: 1;
  width: 100%;
  // height: 100%;
  max-width: 80px;
  margin-top: -10px;
  margin-bottom: 10px;
  /* When emoticons used */
  font-size: 3rem;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);

  img {
    max-width: 100%;
  }
}
.player {
  z-index: 1;
}
.enemy {
  /* image from https://www.nintendo.com/games/detail/pirate-pop-plus-switch/ */
  /* background-image: url(../assets/enemy.png); */
}
.player ~ .enemy,
.enemy ~ .player {
  top: 38%;
  left: 31%;
  height: 90%;
}
.player.angry::after,
.enemy.angry::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(../assets/angry.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 50%;
  opacity: 0;
  z-index: 11;
  transition: opacity 0.3s ease-out;
}
.player.angry.show::after,
.enemy.angry.show::after {
  opacity: 1;
}
