@import 'vars';
@import 'base';
@import 'home';
@import 'grid';
@import 'players';
@import 'splitscreen';
body {
  background-color: lightgreen;
  &.level-alt1 {
    background-color: lightseagreen;
  }
  &.level-alt2 {
    background-color: burlywood;
  }
  .level-alt3 {
    background-color: blueviolet;
  }
}
