$body-color: green;
$yellow: #ffff00;
$green: green;
$magenta: #ff00cc;
$orange: #ffcc00;
$orangemiddle: #e6b800;
$orangedark: #cca300;
$red: #dc4c4e;
$redmiddle: #d83739;
$reddark: #cd282a;
$blue: #1659bb;
$bluemiddle: #134ea4;
$bluedark: #10438d;
